<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
    <main class="container">
        <a href="/">Usted no es un administrador</a>
        <figure class="container">
            <img src="/img/acceso_denegado.jpg" alt="Acceso denegado">
        </figure>
    </main>
</body>
</html>