<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
    <main class="container">
        <figure class="imagen">
            <img src="/img/enConstruccion.jpg" alt="Página en Construcción">
        </figure>
    </main>
</body>
</html>