<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
    <main class="container">
        
        <figure class="container">
            <img src="/img/EnMantenimiento.jpg" alt="Página en mantenimiento">
        </figure>
    </main>
</body>
</html>