<header class="encabezado">
  <figure class="logo">
      <a href="/"><img src="/img/logo-daniel.png" alt="Logo Daniel Fuentes">
  </figure></a>
  <!--Aquí estoy incorporando la imagen del menú hamburguesa que se debe mostrar sólo en tamaño celular-->
  <a class="hamburguesa" href="#"><i class="fas fa-hamburger"></i></a>
  <nav class="menu">
      <ul class="opciones">
          <li><a href="/">Inicio</a></li>
          <li><a href="/productos">Productos</a></li>
          <li><a href="/administrar">Administrar</a></li>
            
      </ul>

      <ul class="opciones">
          
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-cart-plus"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión<i class="fas fa-sign-out-alt"></i></a>
          </li>
          
          
  
          <!--Cuando no estoy logueado debería ver esto-->
          <li class="nav-item">
            <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li class="nav-item">
            <a href="/registro"><i class="fas fa-user-plus"></i></a>
          </li>
          
      </ul>
  </nav>
</header>
