<!doctype html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <main class="container-fluid">
      <%- include('../partials/navBar.ejs') %>  
        <section class="row">
          <article class="col-12  card " >
                  <div class="card-body">
                    <h2 class="display-4 text-white bg-info text-center pt-2">Crear un Producto</h2>
                  </div>
          </article>
        </section>

        <section class="bg-home pt-4">
            <div class="container">
                <div class="row" >
                    <div class="col-8 mx-auto bg-light ">
                        <div class="create-form">
                            <form action="/administrar/create" method="POST" enctype="multipart/form-data" >
                                <div class="form-group">
                                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" required="required" value="">
                                </div>	
                                <div class="form-group">
                                    <input type="text" class="form-control" name="descripcion" placeholder="Descripción" required="required" value="">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="precio" placeholder="Precio" required="required" value="">
                                </div>
                                <div class="form-group">
                                    <select  name="descuento" class="custom-select" id="validationCustom04" required>
                                      <option selected disabled value="#">Elija su descuento</option>
                                      <option value="0">Sin descuento</option>
                                      <option value="15">15%</option>
                                      <option value="30">30%</option>
                                    </select>
                                </div>
                                <!--Aquí solicito la imagen-->
                                <div class="custom-file">
                                    <input type="file" name="imagen" >
                                    <!--<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="imagen" required value=""> 

                                    <label class="custom-file-label" for="inputGroupFile01">Seleccione una imagen...</label>-->
                                  </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn btn-info">Guardar</button>
                                    <a href="/administrar" class="btn btn-danger">Volver</a>
                                </div>
                                
                            </form>
                    </div>                        
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>